.header {
    width: 270px;
    display: flex;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: 100%;
}
.title {
    display: flex;
    align-items: center;
    height: 70px;
}
.logo {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    margin-left: 4px;
}
.title > a {
    display: flex;
    align-items: center;
}
.title > a > span {
    font-size: 25px;
    font-weight: 800;
    display: flex;
    color: #FD6F22;
    margin-left: 15px;
}


.menu_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    list-style: none;
    box-sizing: content-box;
    margin-bottom: 5px;
}
.menu > a {
    display: flex;
    align-items: center;
    padding: 13px 15px;
    color: #111; /* #FD6F22 */
    border-radius: 7px;
    transition: all .2s;
    font-size: 22px;
}
.menu > a > svg {
    transition: all .2s;
}
.menu > a > span {
    font-size: 15px;
    font-weight: 600;
    margin-left: 25px;
    color: #111;
}
.menu > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.menu > a:hover > span {
    /* font-weight: 700; */
    font-weight: 600;
}
.menu > a:hover > svg {
    transform: scale(108%, 108%);
}

.menu_line {
    width: 100%;
    height: 1px ;
    background-color: #efefef;
    border: none;
    margin: 10px 0 15px 0;
}

@media screen and (max-width : 1300px) {
    .menu > a > span {
        display: none;
    }
    .header {
        width: auto;
    }
    .title {
        justify-content: center;
    }
    .logo {
        margin: 0;
    }
    .title > a > span {
        display: none;
    }
}

@media screen and (max-width : 450px) {
    .header {
        display: none;
    }
}