.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px 0 15px;
    display: flex;
    flex-direction: column;
}
.utilBtn {
    color: var(--text-main);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.utilBtn > svg {
    transition: all .4s;
}
.utilBtn:active > svg {
    transform: rotateZ(-90deg);
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #f2f2f2; */
}
.title {
    color: var(--text-main);
    display: none;
    align-items: center;
    margin-bottom: 7px;
}
.title > span {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 700;
    vertical-align: middle;
}

.sectionWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main {
    width: calc(68% - 15px);
    min-height: 550px;
    display: flex;
    flex-direction: column;
}
.menuWrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.menuWrapper::-webkit-scrollbar {
    display: none;
}
.menu {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-main);
    padding: 8px 20px;
    margin-right: 10px;
    transition: all .2s;
    border-radius: 5px;
    word-break: keep-all;
    background-color: var(--item-bg-main);
}
.menu.active {
    background-color: #fd6f22dd;
    color: white;
    font-weight: 600;
}
.underline {
    position: absolute;
    bottom: -6.5px;
    height: 3px;
    width: 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: all .2s;
}


.sub {
    width: calc(32% - 15px);
    display: flex;
    flex-direction: column;
}
.reportCard {
    position: sticky;
    top: 90px;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    border-radius: 10px;
    height: 600px;
}

@media screen and (max-width : 450px) {
    .wrapper {
        padding: 0 15px;
    }
    .title {
        margin-bottom: 3px;
    }
    .title > span {
        font-size: 23px;
    }
    .title > svg {
        width: 21px;
    }
    .menuWrapper {
        overflow: scroll;
    }
    .menu {
        font-size: 13px;
    }
    .main {
        width: 100%;
    }
    .sub {
        display: none;
    }
}