.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: visible;
    padding: 20px 0;
    height: 100%;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.list {
    display: flex; 
    width: auto;
    align-items: center;
    box-sizing: content-box;
    height: auto;
}