.header {
    z-index: 10;
    width: 100%;
    height: 70px;
    display: flex;
    transition: all .2s;
    position: sticky;
}
.header.sticky {
    background-color: white;
    top: 0;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.title {
    display: none;
    align-items: center;
}
.logo {
    width: 37px;
    height: 37px;
    border-radius: 7px;
}

.sharing_navbar {
    display: none;
    align-items: center;
    height: 100%;
    padding-left: 5px;
}
.sharing_option {
    font-size: 23px;
    font-weight: 700;
    color: #d2d2d2;
    transition: all .15s
}
.sharing_option.active {
    color: #FD6F22;
    font-weight: 800;
}
.sharing_optionLine {
    width: 2px;
    border-radius: 10px;
    background-color: #d2d2d2;
    height: 18px;
    border: none;
    margin: 0 12px;
    position: relative;
    top: 2px;
}


.search_wrapper {
    display: flex;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #efefef;
}
.searchInput {
    width: 500px;
    border: none;
    font-size: 15px;
    background-color: transparent;
    padding: 12px 0;
    padding-left: 20px;
}

.util_wrapper {
    display: flex;
    align-items: center;
}
.shareBtn {
    margin-right: 7px;
    height: 45px;
    padding: 0 22px;
    border-radius: 7px;
    background-color:#FD6F22;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all .2s;
}
.shareBtn:hover {
    background-color: #fd6f22dd;
}
.shareBtn > span {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}

.pageTitle {
    color: #333;
    font-size: 20px;
    font-weight: 800;
}
.headerBtn {
    display: flex;
    align-items: center;
    color: #222;
    width: 50px;
    cursor: pointer;
}
.gobackBtn {
    padding: 5px;
    display: flex;
    align-items: center;
}
.headerBtn:last-child {
    justify-content: right;
}
.utilBtn {
    display: flex;
    color: #222;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    cursor: pointer;
    transition: all .2s;
}
.utilBtn > svg {
    transition: all .2s;
}
.utilBtn:active {
    transform: scale(80%);
}
.utilBtn:hover {
    background-color: rgba(0,0,0,.03);
}
.utilBtn.mobile {
    display: none;
}

@media screen and (max-width : 450px) {
    .title {
        display: flex;
    }
    .pageTitle {
        font-size: 17px;
    }
    .header {
        height: 60px;
    }
    .wrapper {
        padding: 1px 10px 0 10px;
    }
    .shareBtn {
        display: none;
    }
    .utilBtn {
        width: 40px;
        height: 40px;
        margin-left: 3px;
    }
    .utilBtn:hover {
        background-color: transparent;
    }
    .utilBtn > svg {
        height: 25px;
    }
    .utilBtn.mobile {
        display: flex;
    }
    .sharing_navbar {
        display: flex;
    }
}