.header {
    z-index: 10;
    width: 100%;
    height: 70px;
    display: flex;
    transition: all .2s;
    position: sticky;
}
.header.sticky {
    background-color: white;
    top: 0;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_wrapper {
    display: flex;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #efefef;
}
.searchInput {
    width: 500px;
    border: none;
    font-size: 15px;
    background-color: transparent;
    padding: 12px 0;
    padding-left: 20px;
}

.util_wrapper {
    display: flex;
    align-items: center;
}
.shareBtn {
    margin-right: 7px;
    height: 45px;
    padding: 0 22px;
    border-radius: 7px;
    background-color:#FD6F22;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all .2s;
}
.shareBtn:hover {
    background-color: #fd6f22dd;
}
.shareBtn > span {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}

.goBackBtn {
    display: flex;
    align-items: center;
    color: #222;
    padding: 7px;
    cursor: pointer;
}
.utilBtn {
    display: flex;
    color: #222;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    cursor: pointer;
    transition: all .2s;
}
.utilBtn > svg {
    transition: all .2s;
}
.utilBtn:active {
    transform: scale(80%);
}
.utilBtn:hover {
    background-color: rgba(0,0,0,.03);
}
.utilBtn.mobile {
    display: none;
}

@media screen and (max-width : 450px) {
    .header {
        height: 60px;
    }
    .wrapper {
        padding: 1px 15px 0 15px;
    }
    .shareBtn {
        display: none;
    }
    .utilBtn.mobile {
        display: flex;
    }
}