
.box {
    opacity: 0;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 75px;
    width: 380px;
    height: 500px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.09);
    transition: all .2s;
    display: flex;
}
.box.open {
    opacity: 1;
    transform: translateY(-20px);
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    box-sizing: border-box;
    padding: 25px 25px 15px 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
}
.title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.checkSwitch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.checkSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.checkSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.checkSlider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .checkSlider {
    background-color: #FD6F22;
}
input:focus + .checkSlider {
    box-shadow: 0 0 1px #FD6F22;
}
input:checked + .checkSlider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}
.checkSlider{
    border-radius: 34px;
}
.checkSlider:before {
    border-radius: 50%;
}

.list {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: scroll;
    padding: 0 10px;
    box-sizing: border-box;
}
.list::-webkit-scrollbar {
    display: none;
}
.listWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goBackBtn {
    display: none;
    align-items: center;
    color: #222;
    padding: 7px;
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (max-width : 450px) {
    .box {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 0;
    }
    .header {
        height: 70px;
        padding: 10px 15px 9px 15px;
    }
    .goBackBtn {
        display: flex;
    }
    .title {
        font-size: 22px;
    }
}