.list {
    width: 100%;
    height: 300px;
    display: flex;
    z-index: 5;
    box-sizing: content-box;
}
.wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}
.list::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width : 450px) {
    .list {
        padding: 15px 0 10px 0;
        margin-top: -15px;
        box-sizing: content-box;
        overflow: auto visible;
        height: 250px;
    }
    .wrapper {
        z-index: 5;
        display: flex;
        width: auto;
        padding: 0 15px;
    }
}