.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.wrapper {
    padding: 0 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    border-radius: 10px;
    /* border-bottom: 1px solid #eee; */
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05); */
}
.title   {
    display: flex;
    align-items: center;
    color: var(--text-main);
}
.title > h4 {
    font-size: 17px;
    font-weight: 700;
    margin-left: 7px;
    position: relative;
    top: 1.5px;
}
.memberNum {
    display: flex;
    align-items: flex-end;
    color: var(--user-text);
}
.memberNum > span {
    margin-left: 4px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: 3px;
}
.blank {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank > span {
    font-size: 15px;
    font-weight: 500;
    color: #94969b;
}

.mobileWrapper {
    box-sizing: border-box;
    margin: 20px 15px;
}
.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #f5f7f8;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
    border-radius: 10px;
}
.message {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    margin: 0 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    color: #222;
}
.userId {
    font-size: 12px;
    word-break: keep-all;
    margin-left: 15px;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width : 450px) {
    .header {
        padding: 0;
    }
    .title > h4 {
        font-size: 16px;
    }
    .memberNum > span {
        font-size: 15px;
    }
    .memberNum > svg {
        width: 12px;
        height: auto;
    }
}