* {
    margin: 0;
}
/* FD6F22 */

/* 로딩 스피너 사이트 */
/* https://cssloaders.github.io/ */


@font-face {
    font-family: 'NanumBarunGothic', 'Malgun Gothic','맑은 고딕', '돋움' sans-serif;
    src: url('/public/font/nanum-barun-gothic/NanumBarunGothic.ttf') format('truetype'),
    url('/public/font/nanum-barun-gothic/NanumBarunGothic.otf') format('opentype');
}

* {
    -webkit-tap-highlight-color : transparent !important;
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    touch-action: pan-y;
}

:root {
    --primary-color : #FD6F22;
    --primary-hover-color : #fd6f22b1;
    --bg-main: #ffffff;
    --bg-sub: #ffffff;
    --home-item-bg: #00000005;
    --modal-bg: #ffffff;
    --text-main: #222;
    --text-sub: #494545;
    --item-bg-main: #EFEFEF;
    --line-main: #EFEFEF;
    --hover-bg : #efefef;
    --hover-item-bg : #0000001a;   
    --hover-postBtn-bg : rgba(0, 0, 0, .09);
    --chat-input-bg : #f5f7f8;
    --user-text : #333;
    --border-bg : #e0e0e0;
    --underline-bg : #eee;
    --button-main : #f2f2f2;
    --message-main : #555;
    --postBtn-bg : #f2f2f2;
    --setting-bg : #f5f5f5;
    --shadow-main : 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
    --setting-school-bg : #efefef;
}

.dark-mode {
    --bg-main: #1c1c20;
    --bg-sub: #2e2e31;
    --home-item-bg: #ffffff15;
    --modal-bg: #3C3D41;
    --text-main: #ffffff;
    --text-sub : #97989C;
    --item-bg-main: #26272B;
    --line-main: #ffffff33;
    --hover-bg: #ffffff14;
    --underline-bg : #ffffff33;
    --hover-item-bg : #ffffff14;
    --hover-postBtn-bg : #ffffff14;
    --chat-input-bg : #3C3D41;
    --user-text : #e0e0e0;
    --border-bg : #ffffff33;
    --postBtn-bg : #3C3D41;
    --button-main : #363636;
    --message-main : #999;
    --setting-bg : #2e2e31;
    --shadow-main : none;
    --setting-school-bg : #2e2e31;
}   

a, span, h1, h2, h3, h4, h5, p, textarea, button, input {
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: Pretendard;
    /* font-family: 'NanumBarunGothic', sans-serif; */
    transform: skew(-0.1deg);
    text-decoration: none;
}

body {
    background-color: var(--bg-main);
    display: flex;
    overflow-x: hidden;
}

input:focus, textarea:focus {
    outline: none;
}
input, textarea {
    -webkit-text-size-adjust: 100%;
}

.swiper-button-disabled {
    opacity: 30%;
}




.errorPage {
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.errorStatus {
    display: flex;
    align-items: center;
}
.errorNum {
    font-size: 120px;
}
.errorLogo {
    width: 85px;
    height: 100px;
    border-radius: 50px;
    margin: 0 5px;
}
.errorTitle {
    margin-top: 30px;
    font-size: 27px;
}
.errorDescription {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 50px;
}
.errorLink {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
}