.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.page_wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 5;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.section_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}
.section_title {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: var(--text-main);
    width: auto;
}
.section_title > h3 {
    font-size: 18px;
    margin-left: 10px;
    font-weight: 700;
    position: relative;
    top: 1.5px;
}

.action_group {
    display: flex;
    align-items: center;
}
.actionBtn {
    cursor: pointer;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
}
#update {
    margin-right: 15px;
    transition: all .2s;
    color: #444;
}
#update:hover {
    transform: scale(105%);
}

@media screen and (max-width : 450px) {
    .container {
        margin-bottom: 0;
    }
}
