.card {
    display: flex;
    width: 350px;
    height: 210px;
    background-color: var(--bg-sub);
    border-radius: 15px;
    transition: all 0.2s;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    cursor: pointer;
    margin-right: 20px;
}
.card:last-child {
    margin: 0;
}
.wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}
.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.title {
    display: flex;
    overflow: hidden;
}
.title > p {
    color: var(--text-main);
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}
.activeUser {
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}
.activeUser > span {
    font-size: 15px;
    font-weight: 600;
    margin-left: 4px;
    text-align: center;
}
.tagList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    height: 35px;
}
.tagList::-webkit-scrollbar {
    display: none;
}
.tag {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 10px;
    margin: 2px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #fd6f22b4;
    color: #fff;
}

.previewChat {
    margin: 15px 0;
    background-color: #f5f7f8;
    height: 55px;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    display: flex;
}
.previewChat_wrapper {
    width: 100%;
    display: flex;
    margin: 12px 15px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}
.previewChat_wrapper > p {
    font-size: 15px;
    color: #222;
    font-weight: 700;
    text-overflow: ellipsis;
    vertical-align: text-top;
    overflow: hidden;
}
.previewChat > svg {
    margin-top: -3px;
}

.activeChat {
    display: flex;
    align-self: flex-end;
    align-items: center;
    color: var(--primary-color);
}
.activeChat > span {
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    text-align: center;
}

@media screen and (max-width : 450px) {
    .card {
        width: 300px;
        height: 190px;
    }
    .wrapper {
        padding: 20px 15px 10px 15px;
    }
    .title > p {
        font-size: 17px;
    }
    .activeUser > span {
        font-size: 14px;
    }
    .activeChat > span {
        font-size: 14px;
    }
    .tag {
        font-size: 13px;
        padding: 2px 8px;
        height: 25px;
    }
    .previewChat {
        margin: 10px 0;
        height: 45px;
    }
    .previewChat_wrapper > p {
        font-size: 14px;
    }
}
