.landing {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to bottom right,#fd6f22,#ffcba4);
    display: flex;
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.titleHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 7px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .1);
    word-break: keep-all;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.description {
    max-width: 400;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.btnGroup {
    margin-top: 30px;
    display: none;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    padding: 11px 20px;
    border-radius: 10px;
    color: #222;
    margin-left: 20px;
    cursor: pointer;
    transition: all .2s;
}
.button:hover {
    background-color: #efefef;
}
.button:first-child {
    margin: 0;
}
.button > span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}
.title > span {
    margin-left: 5px;
}

@media screen and (max-width : 450px) {
    .landing {
        height: 350px;
    }
    .wrapper {
        padding: 20px;
        justify-content: space-between;
    }
    .title {
        font-size: 25px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
    .description {
        font-size: 15px;
        text-align: left;
    }
    .title > span {
        margin-left: 0;
    }
    .titleHeader {
        margin-top: 10px;
    }
    .btnGroup {
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    .button {
        margin: 0;
        display: flex;
        justify-content: center;
        width: calc(50% - 5px);
        padding: 15px 0;
    }
}
