.settingBtn {
    color: var(--text-main);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.settingBtn:active {
    transform: rotateZ(45deg);
}

@media screen and (max-width : 450px) {
    .settingBtn > svg {
        width: 22px;
    }
}