.box {
    border-radius: 15px;
    height: 100%;
    width: calc(55% / 2 - 5px * 2);
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    display: flex;
}
.box:first-child {
    width: calc(45% - 5px);
}
.box:last-child {
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.titleIcon {
    display: flex;
    align-items: center;
    margin-right: 7px;
}
.schoolName {
    color: #FD6F22;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.schoolName > svg {
    margin-right: 8px;
    margin-bottom: 2px;
}
.moveBtn {
    color: #222;
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.blank {
    font-weight: 500;
    color: #999;
    font-size: 15px;
}

@media screen and (max-width : 450px) {
    .box {
        width: 280px;
        height: 250px;
        margin-right: 15px;
    }
    .box:first-child {
        width: 280px;
    }
    .wrapper {
        padding: 18px 15px;
    }
    .title {
        font-size: 17px;
    }
}