.card {
    width: 100%;
    height: 450px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    border-radius: 10px;
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.title {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 1.5px;
}

.noticeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}