.page {
    width: 100%;
    height: 100vh;
    display: flex;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header {
    width: 320px;
    height: 100%;
    padding: 0 15px;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.currentUser {
    font-size: 25px;
    font-weight: 700;
}
.mobileHeader {
    display: none;
}
.titleHeader {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 25px 12px;
    box-sizing: border-box;
}
.goBackBtn {
    display: none;
    align-items: center;
    color: #222;
    padding: 7px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.list {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
}
.list::-webkit-scrollbar {
    display: none;
}
.listWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.menuItem {
    width: 100%;
    border-radius: 7px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #111;
    transition: all .2s;
    cursor: pointer;
}
.menuItem > span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    position: relative;
    top: 1px;
}
.menuItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.menuItem.active {
    background-color: #efefef;
}


.settingContainer {
    width: calc(100% - 335px);
    height: 100%;
}

@media screen and (max-width : 450px) {
    .menu {
        font-size: 14px;
        padding-bottom: 12px;
    }
    .wrapper {
        padding: 0;
    }
    .list {
        box-sizing: border-box;
        padding: 0 10px;
    }
    .listWrapper {
        padding: 0;
    }
    .menuPage .header {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
    }
    .chatPage .header {
        display: none;
        width: 100%;
    }
    .menuPage .settingContainer {
        display: none;
    }
    .chatPage .settingContainer {
        display: block;
        width: 100%;
    }
    .navbar {
        margin-top: 0;
        position: sticky;
        top: 0;
    }
    .titleHeader {
        display: none;
    }
    .mobileHeader {
        display: flex;
    }
    .goBackBtn {
        display: flex;
        margin-right: 10px;
    }
}
