.container {
    position: relative;
}
.utilBtn {
    display: flex;
    color: #222;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    cursor: pointer;
    transition: all .3s;
}
.utilBtn:active {
    transform: scale(80%);
}
.utilBtn:hover {
    background-color: rgba(0,0,0,.03);
}