.container {
    position: relative;
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.utilBtn {
    position: relative;
    display: flex;
    color: var(--text-main);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    cursor: pointer;
    transition: all .3s;
}
.utilBtn:active {
    transform: scale(80%);
}
.utilBtn:hover {
    background-color: rgba(0,0,0,.03);
}
.badge {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    right: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

@media screen and (max-width : 450px) {
    .utilBtn {
        width: 40px;
        height: 40px;
    }
    .utilBtn > svg {
        height: 27px;
    }
}