.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 300px;
}
.wrapper {
    box-sizing: border-box;
    padding: 0 30px 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: relative;
}
.main {
    display: flex;
    width: calc(68% - 10px);;
    flex-direction: column;
}
.livechatCard {
    position: sticky;
    top: 20px;
    width: calc(32% - 10px);
    border-radius: 10px;
    height: 570px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

@media screen and (max-width : 450px) {
    .wrapper {
        padding: 0 15px;
        flex-direction: column;
    }
    .main {
        width: 100%;
    }
    .livechatCard {
        width: 100%;
    }
}