
.item {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin: 5px 0;
}
.mine {
    justify-content: right;
    flex-direction: row-reverse;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.head {
    display: flex;
    align-items: flex-end;
}
.school {
    font-size: 12px;
    color: var(--user-text);
    margin-left: 7px;
    margin-bottom: 3px;
    font-weight: 600;
}
.userId {
    width: 30px;
    height: 30px;
    background-color: #efefef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12px;
}
.userId > span {
    text-align: center;
    color: #999;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.chatItem {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 33px;
    box-sizing: border-box;
}
.mine .chatItem{
    flex-direction: row-reverse;
    margin-left: 0;
}
.content {
    max-width: 70%;
    padding: 13px 17px;
    background-color: var(--chat-input-bg);
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    margin: 3px 0;
    color: var(--text-main);
}
.content > p > a {
    white-space: normal;
    word-break: break-all;
    color: var(--primary-color);
}
.chatItem:only-child .content {
    margin: 0;
}
.mine .head {
    display: none;
}
.time {
    display: flex;
    flex-direction: column;
    color: #94969b;
    margin: 2px 7px;
}
.time > span {
    font-size: 11px;
}