.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;
    background-color: white;
    position: relative;
}
.menuWrapper {
    display: flex;
    align-items: center;
}
.menu {
    padding: 0 10px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
    position: relative;
    transition: all .15s ;
}
.menu.active {
    color: #FD6F22;
    font-weight: 600;
}
.underline {
    position: absolute;
    left: 0;
    bottom: -1.5px;
    border-radius: 5px;
    width: auto;
    height: 3px;
    background-color: #FD6F22;
    transition: all .15s ease-out;
}
.listWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.loadingWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width : 450px) {
    .menu {
        font-size: 14px;
        padding-bottom: 12px;
    }
}