.header {
    box-sizing: content-box;
    width: 100%;
    height: 85px;
    background-color: var(--b-main);;
    border-bottom: solid 1px var(--line-main);
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}
.move {
    margin-right: 10px;
}
.goBackBtn {
    display: none;
    align-items: center;
    color: var(--text-main);
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.roomInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.titleInfo {
    display: flex;
    align-items: center;
}
.topic {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    margin-right: 10px;
    white-space: nowrap;
}
.title {
    font-size: 20px;
    color: var(--text-main);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
}
.pastTime {
    font-size: 13px;
    font-weight: 500;
    color: #999;
    white-space: nowrap;
}
.pastTime.mobile {
    display: none;
}
.sub {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.content {
    width: 100%;
    font-size: 15px;
    color: var(--text-sub);
    height: 20px;
    font-weight: 400;
}

.headerBtnGroup {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.roomInfoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--text-main);
    cursor: pointer;
    transition: all .2s;
    padding: 0;
}
.roomInfoBtn:hover {
    transform: scale(105%);
}

@media screen and (max-width : 450px) {
    .wrapper {
        margin-left: 0;
    }
    .header {
        height: 75px;
        padding: 0 10px;
        position: sticky;
        top: 0;
    }
    .main {
        margin-bottom: 2px;
    }
    .topic {
        font-size: 16px;
        margin-right: 5px;
    }
    .title {
        font-size: 17px;
    }
    .content {
        font-size: 14px;
        height: 17px;
    }
    .pastTime {
        display: none;
    }
    .goBackBtn {
        display: flex;
    }
}